* {
    box-sizing: border-box;
    
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    height: 590px;
    width: 510px;

}

.header {
    display: inline-flex;
    height: 80px;
    width: 510px;
    background: rgb(0, 80, 165);
    color: aliceblue;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1
}

.menu {
    display: flex;
    flex-grow: 3;
    justify-content: flex-end;
    align-items: center;
}

/* map */
.game {
    position: relative;
    width: 510px;
    height: 510px;
    border: 5px solid rgb(0, 80, 165);
}

.row {
    display: flex;
    position: absolute;

}

.row div {
    height: 500px;
    width: 20px;

}

.row div:nth-child(odd) {

    background: rgb(180, 216, 251);
}

.row div:nth-child(even) {
    background: rgb(137, 191, 245);
}



.col {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.2;

}

.col div {
    height: 20px;
    width: 500px;

}

.col div:nth-child(odd) {

    background: rgb(180, 216, 251);
}

.col div:nth-child(even) {
    background: rgb(137, 191, 245);
}

/* snake */
.snake {
    position: absolute;
    bottom:380px;
    right: 400px;
   
}

.snk-head {
    position: relative;
    width: 20px;
    height: 20px;
    background: darkolivegreen;
    border-radius: 0 7px 7px 0;

}

.snk-head::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: rgb(254, 255, 253);
    border-radius: 100%;
    top: 5px;
    right: 5px;
}

/* .snk-head::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: darkolivegreen;
    top: 0;
    left: -20px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
} */

/* dot */
.dot {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    transform: scale(0.7);
    background: rgb(153, 11, 11);
    top: 100px;
    left: 260px;
}

